* {
    box-sizing: border-box;
    color: rgb(143, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 2px;

}

.cards-container {
    column-count: 4;
    column-width: 220px;
    /* column-gap: 1em; */
    margin-inline: 10%;
    margin-block: 1em;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    /* grid-template-rows: repeat(3); */
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 20px;
    break-inside: avoid;
    margin-block: 1em;
    max-width: 300px;
}

h2 {
    margin-block: 0em;
}

.card1 {
    margin-top: 0em;
}

img {
    width: 80%;
    break-inside: avoid;
    justify-self: right;
}

.p-main-text {
    grid-column: span 2;

}

.btn-buy {
    width: 50px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    border: 2px solid rgb(202, 197, 197);
    justify-self: right;
    align-self: center;
    height: 70%;
}

@media (min-width: 1500px) {
    .cards-container {
        margin-inline: 15%;
    }
}